@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins";

.tickets-main {
	.title > p:nth-child(2),
	.title > p:nth-child(3) {
		font-family: $primary-font;
	}

	@include mixins.md {
		.mobile {
			display: none;
		}
		.title {
			padding-block-start: 8rem;

			display: flex;
			flex-direction: column;
			font-weight: lighter;

			p:last-child {
				margin-block-start: 1rem;
			}
		}
	}
}
