@use "../../../styles/abstracts/mixins";
@use "../../../styles/abstracts/variables" as *;

.line_up {
	position: relative;
	padding-inline: 1rem;
	max-height: 20rem;

	display: grid;
	padding-inline: 1rem;
	overflow-y: hidden;

	.lineup {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-family: $primary-font;
		p {
			display: inline;
			vertical-align: middle;
			text-align: center;
			font-size: $tiny;
			text-transform: uppercase;
			span {
				vertical-align: inherit;
				text-indent: 0cm;
				padding-inline: 0.2rem;
				height: 0rem;
				font-size: 2rem;
				font-family: sans-serif;
				background-color: transparent;
			}
		}
		:nth-child(10n) {
			color: $primary-color;
			font-size: $small;
			span {
				color: $border-color;
			}
		}
	}
	.cta {
		position: sticky;
		bottom: 1rem;
		// width: auto;
		// padding: 0.6rem 2rem;

		span {
			margin-inline-start: 0.6rem;
			display: inline-block;
			width: 1.5rem;
			font-size: 2rem;
			vertical-align: middle;
			background-color: inherit;
		}
		svg {
			background-color: $primary-color;
			width: 100%;
			height: auto;
		}
	}

	@include mixins.md {
		max-height: 100%;

		p {
			margin-block: 0.5rem;

			line-height: 1rem;
		}

		.cta {
			// padding: 1.4rem 2.4rem;

			span {
				background-color: transparent;
			}
			svg {
				background-color: inherit;
				width: 100%;
				height: auto;
			}
		}
	}
}
