@font-face {
	font-family: "Rakkas";
	src: url("../../../public/assets/fonts/Rakkas-Regular.woff") format("woff"), url("../../../public/assets/fonts/Rakkas-Regular.woff2") format("woff2");
}

$Rakkas: Rakkas;

$Raleway: "Raleway", sans-serif;
