@use "../../../styles/abstracts/mixins";
@use "../../../styles/abstracts/variables" as *;

#confirmation {
	min-height: 100vh;
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr)
		minmax(auto, 600px)
		minmax(1rem, 1fr);
	gap: 0;
	background-color: #fff;

	h4 {
		font-family: $secondary-font;
		font-weight: 400;
		span {
			font-weight: 700;
		}
	}

	#guests {
		li {
			padding-inline-start: 1.8rem;
			font-size: $small;
			justify-content: flex-start;

			&:first-child {
				padding-block-start: 0.5rem;
			}
		}
		span {
			display: block;
			position: static;
		}
	}

	section {
		padding: 0;
		grid-column: 2;

		h1 {
			font-size: $medium;
			text-align: center;
			margin-block: 3rem;
		}
		& > p:first-of-type {
			font-size: $medium;
			margin-block-end: 0.4rem;
		}

		.btn-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.5rem;
			margin-block-end: 1rem;

			& > * {
				width: 100%;
				cursor: pointer;
			}
		}

		@include mixins.md {
			overflow: auto;

			display: flex;
			flex-direction: column;
			gap: 2rem;
			h1 {
				font-size: $large;
			}

			.btn-container {
				flex-direction: row;
			}
		}
	}

	.confirmation_order {
		width: 100%;
		padding-block-end: 1.3rem;

		& > *:not(:last-child):not(:first-child) {
			border-bottom: $border-color $border-thickness solid;
		}

		h4 {
			font-family: $secondary-font;
			font-size: $small;
			margin-block-end: 0.8rem;
			border-bottom: none;
		}
		p {
			font-family: $secondary-font;
		}

		ul {
			font-size: $small;
			font-family: $secondary-font;
			display: flex;
			flex-direction: column;
			padding-block-end: 0.5rem;
		}
		li {
			font-family: $secondary-font;
			margin-block-end: 1rem;
			& > p {
				text-decoration: underline;
			}
			position: relative;
			display: flex;
			justify-content: space-between;
			& > span {
				background: transparent;
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateY(70%);

				display: inline-block;

				font-size: 0.65rem;
				color: rgb(96, 96, 96);
			}
		}
	}
}
